.content-intro {
  margin-top: 1%;
  margin-bottom: 2.5%;
  float: left;
}

.content-intro button {
  background-color: teal;
  color: white;
}

.createPatient {
  margin-top: 5%;
}

#addPatient {
  margin-bottom: 10%;
  float: left;
  background-color: teal;
  color: white;
}


/*form {
  margin-top: 10%;
}*/
