<div class="container">
  <div class="content-intro">
    <div class="newPatient-intro">
      <button type="button" id="addPatient" name="button" (click)="newPatient=!newPatient" class="btn btn-lg">Add Patient</button>
    </div>
    <div class="search-section">
      <input type="text" [(ngModel)]="queryString" id="search" placeholder="Search Patient" class="form-control">
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>DOB</th>
        <th>Telephone</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let patient of patients;let i = index'>
        <td>{{patient.id}}</td>
        <td>{{patient.first_name}}</td>
        <td>{{patient.last_name}}</td>
        <td>{{patient.dob}}</td>
        <td>{{patient.tel}}</td>
        <td>{{patient.email}}</td>
        <td>
          <button type="button" name="button" [class.selected]="patient === selectedPatient" (click)="onSelect(patient)">Edit</button>
        </td>
        <td>
          <button (click)="deletePatient(i)" name="button">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Add output event (triggers the addNewPatient class
passing in the new patient that was emitted) -->
  <div *ngIf="newPatient">
    <h1>Add New Patient</h1>
    <app-patient-form (addPatient)="addNewPatient($event)"></app-patient-form>
  </div>

  <div *ngIf="selectedPatient" class="center">
    <h2>{{selectedPatient.first_name | uppercase }}
      Details</h2>
    <!-- <app-patient-form (addPatient)="addNewPatient($event)"></app-patient-form> -->
    <!-- <app-edit-patient></app-edit-patient> -->
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" required class="form-control" id="first_Name" [(ngModel)]="selectedPatient.first_name" name="first_name">
    </div>

    <div class="form-group">
      <label for="description">Last Name</label>
      <input type="text" required class="form-control" id="last_name" [(ngModel)]="selectedPatient.last_name" name="last_name">
    </div>

    <div class="form-group">
      <label for="description">D.O.B</label>
      <input type="text" required class="form-control" id="dob" [(ngModel)]="selectedPatient.dob" name="dob">
    </div>

    <div class="form-group">
      <label for="description">Telephone</label>
      <input type="text" required class="form-control" id="tel" [(ngModel)]="selectedPatient.tel" name="last_name" tel>
    </div>

    <div class="form-group">
      <label for="description">Email</label>
      <input type="email" required class="form-control" id="email" [(ngModel)]="selectedPatient.email" name="email">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-lg" name="button" (click)="selectedPatient=!selectedPatient">
        Edit</button>
    </div>
  </div>
</div>
