<div class="container">
  <div class="content-intro">
    <button type="button" name="button" class="btn btn-lg" sss>Add Patient</button>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>DOB</th>
        <th>Telephone</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let patient of patients;let i = index'>
        <td>{{patient.id}}</td>
        <td>{{patient.first_name}}</td>
        <td>{{patient.last_name}}</td>
        <td>{{patient.dob}}</td>
        <td>{{patient.tel}}</td>
        <td>{{patient.email}}</td>
        <td>
          <button type="button" (click)="editSelectedPatient(patient)" name="button">Edit</button>
        </td>
        <td>
          <button (click)="deletePatient(i)" name="button">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <h1>Patient Form</h1>
  <div class="center">
    <!-- Add output event (triggers the addNewPatient class
    passing in the new patient that was emitted) -->
    <app-patient-form (addPatient)="addNewPatient($event)"></app-patient-form>
  </div>

</div>
