<div class="container">
  <div class="content-intro">
    <button type="button" name="button" class="btn btn-lg">Add Patient</button>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>DOB</th>
        <th>Telephone</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let patient of patients'>
        <td>{{patient.first_name}}</td>
        <td>{{patient.last_name}}</td>
        <td>{{patient.dob}}</td>
        <td>{{patient.tel}}</td>
        <td>{{patient.email}}</td>
        <td>
          <button type="button" name="button">Edit</button>
        </td>
        <td>
          <button type="button" name="button">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
